*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Utilities */
.font{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.txt-center{
    text-align: center;
}

.btn{
    padding: 10px 30px;
    background-color:#2086fb;
    border: 0px;
    font-size: 15px;
    border-radius: 20px;
    color: white;
}

.title{
    font-size: 30px;
    font-weight: 600;
}

.h3{
    font-size: 18px;
    color: #4a4a4a;
    margin: 24px 10px 10px;
}

.para{
    font-size: 16px;
    line-height: 26px;
    color: #858585;
    margin: 10px;
}

.border{
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.border-bottom{
    border-bottom: 1px solid #dcdcdc;
}

.border-right{
    border-right: 1px solid #dcdcdc;
}

.col-4{
    width: 24%;
}

.w-50{
    width:50%;
}

.w-100{
    width:100%;
}

ul, li{
    list-style: none;
}

/* header */

.navigation{
    position: fixed;
    max-height: 70px;
    background-color: rgba(255, 255, 255, 0.2);
    top:0px;
    z-index: 1;
}

.logo{
    padding: 12px 0px 0px 40px;
}

.menu__main{
    margin: 25px 0px;
    padding: 0px 100px 0px 0px;
}

.menu__items{
    display: inline-block;
}

.menu__items a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 14px;
    color: white;
    font-size: 14px;
}

.menu__items a:hover{
    color: black;
    font-weight: 700;
}

.menu__btn{
    position: relative;
    bottom:55px;
    right:40px;
}

.menu__btn:hover{
    transform: scale(0.9);
    cursor: pointer;
}

/* hamburger menu */
.drop-menu{
    display: none;
}

.hamb{
    display: none;
    float: right;
    position: relative;
    left:110px;
    top: 20px;
    cursor: pointer;
}

.hamb__lines{
    display: block;
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 5px 0px;
}

/* hidden menu */

.menu__main--hidden{
    padding: 0px;
}

.menu--hidden{
    display: none;
    position: fixed;
    top:70px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 300;
    border-top: 1px solid white;
    height: 100vh;
    padding: 25px 0px 0px 0px;
    max-height: 500px;
}

.menu__items--hidden{
    margin: 0px 0px 15px 0px;
    font-size: 18px;
}

.menu__items--hidden a:hover{
    color: white;
    text-decoration: underline;
}

.menu__btn--hidden{
    display: none;
    margin: 10px auto 0px;
}

.menu__btn--hidden:hover{
    transform: scale(0.9);
    cursor: pointer;
}

/* hero section */

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.5)100%,rgba(0, 0, 0, 0.5)100%), url("../Images/hero-4.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    max-height: 800px;
    position: relative;
    top:0;
}

.hero__content{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.hero__header{
    color: white;
    margin: 0px 0px 25px 0px;
}

.hero__searchbar{
    border: 0px;
    padding: 15px;
    font-size: 16px;
    color: #9b9b9b;
    background-image: url('../Images/search-icon.svg');
    background-position: right 3% bottom 50%;
    background-repeat: no-repeat;
    background-size: 2.5%;
}

.hero__searchbar:focus{
    outline: 2px solid rgba(0, 0, 0, 0.4);
    color: black;
}

/* Details section */

.container{
    padding: 40px 20px;
}

.container__item{
    display: inline-block;
    padding: 50px 0px;
    width: 24%;
    transition: 0.2s ease-in-out;
    margin-right: -4px;
}

.container__item:hover{
    transform: scale(1.03);
}

.container__item:nth-child(odd){
    border-right: 1px solid #dcdcdc;
}

.container__item:nth-child(2){
    border-right: 1px solid #dcdcdc;
}

.container__item:nth-child(6){
    border-right: 1px solid #dcdcdc;
}


/* media queries */

/* mobiles */
@media only screen and (max-width: 600px){
    .logo{
        padding: 12px 0px 0px 20px;
    }

    .menu{
        display: none;
    }

    .hamb{
        display: block;
    }

    .drop-menu:checked ~ .menu--hidden, .menu__btn--hidden{
        display: block;
    }

    .hero__searchbar{
        background-size: 3.5%;
        font-size: 10px;
    }

    .hero__content{
        width: 90%;
    }
    
    .title{
        font-size: 18px;
    }

    .container__item{
        width: 100%;
        padding: 40px 70px;
        border-bottom: 1px solid #dcdcdc;
    }

    .container__item:nth-child(1n){
        border-right: 0px;
    }
}

/* tablets */
@media only screen and (min-width:601px) and (max-width: 1200px){

    .hamb{
        display: block;
    }

    .menu{
        display: none;
    }

    .drop-menu:checked ~ .menu--hidden{
        display: block;
    }

    .menu__btn{
        top: 15px;
        right: 80px;
    }

    .hero__searchbar{
        background-size: 3.5%;
        font-size: 12px;
    }
    
    .title{
        font-size: 25px;
    }

    .container__item{
        width: 48%;
        padding: 40px;
    }

    .container__item:nth-child(odd){
        border-right: 1px solid #dcdcdc;
    }
    .container__item:nth-child(5){
        border-bottom: 1px solid #dcdcdc;
    }
    .container__item:nth-child(6){
        border-bottom: 1px solid #dcdcdc;
    }
    .container__item:nth-child(even){
        border-right: 0px;
    }

}
