* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Utilities */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.txt-center {
    text-align: center;
}

.btn {
    padding: 10px 30px;
    background-color: #2086fb;
    border: 0px;
    font-size: 15px;
    border-radius: 20px;
    color: white;
    transition: 0.3s ease-in-out;
}

.btn--wide {
    padding: 10px 40px;
}

.btn:hover {
    background-color: #0e4585;
    cursor: pointer;
}

.title {
    font-size: 2vw;
    font-weight: 600;
}

.txt-lg{
    font-size: 18px;
}

.txt-md{
    font-size: 16px;
}

.txt-sm{
    font-size: 14px;
}

.pd-rt-lft-30 {
    padding: 0px 30px;
}

.lh-md {
    line-height: 26px;
}

.txt-white {
    color: white;
}

.border-bottom {
    border-bottom: 1px solid #dcdcdc;
}

.border-right {
    border-right: 1px solid #dcdcdc;
}

.mb-50 {
    margin: 0px 0px 50px 0px;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.dis-blk{
    display: block;
}

ul,
li {
    list-style: none;
}

.txt-upper{
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.container{
    max-width: 1600px;
    margin: 0px auto;
    padding: 0px 20px;
}

/* header */

.navigation {
    position: fixed;
    max-height: 68px;
    background-color: rgba(255, 255, 255, 0.2);
    top: 0px;
    z-index: 1;
    width: 100%;
    transition: 0.5s ease-in-out;
}

.navigation--scroll {
    position: fixed;
    max-height: 68px;
    background-color: #323232;
    top: 0px;
    z-index: 1;
    width: 100%;
    transition: 0.5s ease-in-out;
}

.navigation::after {
    content: "";
    clear: both;
}

.logo {
    margin: 12px 0px 0px 40px;
}

.menu {
    width: calc(100% - 100px);
    margin-left: 50px;
}

.menu__main {
    margin: 24px 0px;
    padding: 0px 60px 0px 0px;
}

.menu__items {
    display: inline-block;
}

.menu__items a {
    margin: 0px 14px;
    transition: 0.3s ease-in-out;
}

.menu__items a:hover {
    color: black;
    font-weight: 700;
}

.menu__btn {
    position: relative;
    bottom: 55px;
    right: 40px;
}

/* hamburger menu */
.hamburger {
    display: none;
}

.hamb {
    display: none;
    float: right;
    position: relative;
    left: 110px;
    top: 20px;
    cursor: pointer;
}

.hamb__lines {
    display: block;
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 5px 0px;
}

/* hidden menu */

.menu--hidden {
    display: none;
    position: fixed;
    width: 100%;
    margin: 0px;
    top: 64px;
    background-color: #323232;
    opacity: 0.9;
    z-index: 300;
    height: 100vh;
    padding: 15px 0px 0px 0px;
    max-height: 500px;
}

.drop-menu {
    padding: 0px;
}

.drop-menu__items {
    margin: 0px 0px 15px 0px;
    transition: 0.2s ease-in-out;
}

.drop-menu__items a:hover {
    color: white;
    text-decoration: underline;
}

.menu__btn--hidden {
    display: none;
    margin: 0px auto;
}


/* hero section */

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5)100%, rgba(0, 0, 0, 0.5)100%), url("../images/hero-4.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
    max-height: 800px;
    position: relative;
    top: 0;
}

.hero__content {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.hero__header {
    margin: 0px 0px 25px 0px;
}

.search-bar {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    width: 900px;
    padding: 0px;
    font-size: 0px;
    transition: 0.2s ease-in-out;
}

.search-bar:hover {
    box-shadow: 0px 0px 1px 1px white;
    color: black;
}

.search-bar__input {
    border: 0px;
    padding: 15px;
    font-size: 16px;
    color: #9b9b9b;
    transition: 0.2s ease-in-out;
    width: 100%;
}

.search-bar__input:focus {
    outline: 2px solid rgba(0, 0, 0, 0.8);
    color: black;
}

.search-icon {
    position: relative;
    float: right;
    background-color: transparent;
    border: 0px;
    bottom: 46px;
    right: 20px;
    padding: 10px;
}

.search-icon i {
    color: #858585;
    cursor: pointer;
}

/* Details section */

.products {
    padding: 40px 20px;
}

.products__ul {
    font-size: 0px;
}

.products__item {
    display: inline-block;
    padding: 50px 20px;
    width: 25%;
}

.subtitle {
    color: #4a4a4a;
    margin: 24px 0px 10px 0px;
}

.para {
    color: #858585;
}

.products__item:nth-child(odd) {
    border-right: 1px solid #dcdcdc;
}

.products__item:nth-child(2) {
    border-right: 1px solid #dcdcdc;
}

.products__item:nth-child(6) {
    border-right: 1px solid #dcdcdc;
}

/*footer */
.support {
    width: 100%;
    background-color: #323232;
    height: 288px;
    padding: 60px 0px 0px 0px;
}

.heading-md{
    font-size: 30px;
    font-weight: 600;
}

.copyright {
    width: 100%;
    height: 68px;
    background-color: #252525;
    overflow: hidden;
}

.copyright__text {
    margin: 20px 0px 0px 40px;
}

.back-to-top {
    display: none;
    position: fixed;
    width: 28px;
    height: 28px;
    right: 50px;
    bottom: 55px;
    background-color: #4a4a4a;
    border: 0px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
    z-index: 3;
    cursor: pointer;
}

.back-to-top:hover {
    background-color: #2086fb;
}

.back-to-top a {
    color: #979797;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

.back-to-top a:hover {
    color: white;
}


/* media queries

/* mobiles */
@media only screen and (max-width: 768px) {
    .logo {
        margin: 12px 0px 0px 15px;
    }

    .menu {
        display: none;
    }

    .hamb {
        display: block;
    }

    .hamburger:checked~.menu--hidden,
    .menu__btn--hidden {
        display: block;
    }

    .hero__content {
        padding: 0px 40px;
    }

    .search-bar {
        width: 100%;
    }

    .search-bar__input {
        padding: 10px;
        font-size: 10px;
    }

    .search-icon {
        bottom: 36px;
        right: 5px;
    }

    .title {
        font-size: 4.2vw;
    }

    .products__item {
        width: 100%;
        padding: 40px 70px;
        border-bottom: 1px solid #dcdcdc;
    }

    .products__item:nth-child(1n) {
        border-right: 0px;
    }

    .products__item:nth-child(8) {
        border-bottom: 0px;
    }

    .heading-md{
        font-size: 18px;
    }

    .back-to-top {
        right: 20px;
    }

}

/* tablets */
@media only screen and (min-width:769px) and (max-width: 1100px) {

    .hamb {
        display: block;
    }

    .menu {
        display: none;
    }

    .hamburger:checked~.menu--hidden {
        display: block;
    }

    .menu__btn {
        top: 15px;
        right: 80px;
    }

    .title {
        font-size: 2.8vw;
    }

    .hero__content {
        padding: 0px 80px;
    }

    .search-bar {
        width: 100%;
    }

    .search-bar__input {
        padding: 10px;
    }

    .search-icon {
        bottom: 40px;
    }

    .products__item {
        width: 50%;
        padding: 40px;
    }

    .products__item:nth-child(odd) {
        border-right: 1px solid #dcdcdc;
    }

    .products__item:nth-child(5) {
        border-bottom: 1px solid #dcdcdc;
    }

    .products__item:nth-child(6) {
        border-bottom: 1px solid #dcdcdc;
    }

    .products__item:nth-child(even) {
        border-right: 0px;
    }

    .heading-md{
        font-size: 25px;
    }
}

/* large screens */

@media only screen and (min-width:1600px) {
    .search-bar {
        width: 900px;
    }

    .title{
        font-size: 1.6vw;
    }

    .copyright__text {
        text-align: center;
    }
}